#container {
  width: 300px;
  height: 200px;
  border: solid 1px grey;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#div1 {
  width: 280px;
  position: absolute;
  left: 0;
  padding: 5px;
}

#div2 {
  width: 10px;
  height: 200px;
  background-color: #999;
  position: absolute;
  right: 0;
}

#div3 {
  width: 10px;
  height: 30px;
  background-color: #666;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}